/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --bg-color: #FFF1F7;
  --bg-image: url(../images/cover-image-light.png);
  --color-title: #FFC2E6;
  --shodow-title: #FF0070;
  --color-title-section: #353430;
  --color-bg-subtitle: #FF8DCB;
  --color-subtitle: #353430;
  --color-text: #353430;
  --border-color: #353430;
  --border-color-opacity: #353430;
  --nav-color-text: #353430;
  --font-famaly: "IBM Plex Mono", sans-serif;
  --shodow-link: #FF8DCB;

  .decoration {
    display: none;
  }
}

@media (prefers-color-scheme: light) {

  :root {
    --bg-color: #FFF1F7;
    --bg-image: url(../images/cover-image-light.png);
    --color-title: #FFC2E6;
    --shodow-title: #FF0070;
    --color-title-section: #353430;
    --color-bg-subtitle: #FF8DCB;
    --color-subtitle: #353430;
    --color-text: #353430;
    --border-color: #353430;
    --border-color-opacity: #353430;
    --nav-color-text: #353430;
    --font-famaly: "IBM Plex Mono", sans-serif;
    --shodow-link: #FF8DCB;
  
    .decoration {
      display: none;
    }
  }
}