/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --bg-color: #FFF1F7;                              /* цвет фона */
  --bg-image: url(../images/cover-image-light.png);   /* картинка фона */
  --color-title: #FFC2E6;                           /* цвет главного заголовка */
  --shodow-title: #FF0070;                          /* тень главного заголовка */
  --color-title-section: #353430;                   /* цвет текста заголовков*/
  --color-bg-subtitle: #FF8DCB;                     /* цвет фона подзаголовков*/
  --color-subtitle: #353430;                        /* цвет текста подзаголовков*/
  --color-text: #353430;                            /* цвет текста в секции */
  --border-color: #353430;                          /* цвет обводки */
  --border-color-opacity: #353430;                  /* цвет обводки при :hover */
  --nav-color-text: #353430;                        /* цвет текста в навигации */
  --font-famaly: "IBM Plex Mono", sans-serif;         /* шрифт */
  --shodow-link: #FF8DCB;                           /* тень ссылок */

  .decoration {
    display: none;
  }
}

@media (prefers-color-scheme: light) {

  :root {
    --bg-color: #FFF1F7;                              /* цвет фона */
    --bg-image: url(../images/cover-image-light.png);   /* картинка фона */
    --color-title: #FFC2E6;                           /* цвет главного заголовка */
    --shodow-title: #FF0070;                          /* тень главного заголовка */
    --color-title-section: #353430;                   /* цвет текста заголовков*/
    --color-bg-subtitle: #FF8DCB;                     /* цвет фона подзаголовков*/
    --color-subtitle: #353430;                        /* цвет текста подзаголовков*/
    --color-text: #353430;                            /* цвет текста в секции */
    --border-color: #353430;                          /* цвет обводки */
    --border-color-opacity: #353430;                  /* цвет обводки при :hover */
    --nav-color-text: #353430;                        /* цвет текста в навигации */
    --font-famaly: "IBM Plex Mono", sans-serif;         /* шрифт */
    --shodow-link: #FF8DCB;                           /* тень ссылок */
  
    .decoration {
      display: none;
    }
  }
}
