/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --color-title: #DB00FF;
  --shodow-title: #FF0070;
  --color-title-section: #FF0070;
  --color-bg-subtitle: #FF0070;
  --color-subtitle: #000028;
  --color-text: #F1B2CE;
  --border-color: #FF0070;
  --border-color-opacity: rgba(255, 0, 112, 0.4);
  --nav-color-text: #FF0070;
  --font-famaly: "IBM Plex Mono", monospace;
  --shodow-link: #FF0070;
}